<div class="contact-list">
  <h2>Contact List</h2>
  <input type="text" [(ngModel)]="newContact.name" placeholder="Name">
  <input type="text" [(ngModel)]="newContact.phone" placeholder="Phone">
  <button (click)="addContact()">Add Contact</button>

  <input type="text" [(ngModel)]="searchText" placeholder="Search by Name" (keyup)="searchContacts()">
  <ul>
    <li *ngFor="let contact of filteredContacts">
      <ng-container *ngIf="editingContact !== contact; else editForm">
        {{ contact.name }} - {{ contact.phone }}
        <button (click)="editContact(contact)">Edit</button>
        <button (click)="deleteContact(contact)">Delete</button>
      </ng-container>
      <ng-template #editForm>
        <input type="text" [(ngModel)]="contact.name">
        <input type="text" [(ngModel)]="contact.phone">
        <button (click)="saveEditedContact(contact)">Save</button>
      </ng-template>
    </li>
  </ul>
</div>
